<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/icon-black.png">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <meta charset="UTF-8">
    <title>Anolog</title>
</head>
<body>
    <header>
        <h1 class="header"><div class="logo"></div> Anolog</h1>
        <div id="tool-div">
            <div class="darkmode-button"><i id="darkmode-icon" class="fa-regular fa-moon"></i></div>
            <input type="color" title="Recolor" id="color-picker" value={{primary_color}} style="height:40px; width:0px; opacity: 0;">
            <div class="color-button"><label for="color-picker" id="picker-label"><i class="fa-solid fa-palette"></i></label></div>

            <button title="Export" class="export-button" id="export-button"><i class="fa-solid fa-file-arrow-down"></i></button>
            <div class="dropdown-menu" id="dropdown-menu">
                <button class="export-option" id="project-csv">Projects</button>
                <button class="export-option" id="task-csv">Tasks</button>
                <button class="export-option" id="log-csv">Time</button>
                <button class="export-option" id="time-csv">Days</button>
            </div>
            <button title="Logout" class="logout-button" id="logout-button"><i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
    </header>

    <div class="day-div">
        <div id="day-table">
        </div>
    </div>
    <div id="day-info">
    </div>
    
    <div class="content-div">
        <div id='list-container' class="list-container">
            <div class="toggle" style="display:none">
                <i id="menu-button" class="fa-solid fa-square-minus"></i>
            </div>
            <div class="list-div">
                <div id="project-list-container">
                    <h2 class="header">Projects 
                        <i id="toggle-completed-projects" title="Show Completed Projects" class="toggle-completed fa-solid fa-eye-slash"></i>
                        <i id="add-a-project" title="Add a Project" class="add-button fa-solid fa-plus"></i>
                    </h2>
                    <ul id="project-list-ul">
                    </ul>
                </div>

                <div id="task-list-container">
                    <h2 class="header">Tasks 
                        <i id="toggle-completed-tasks" title="Show Completed Tasks" class="toggle-completed fa-solid fa-eye-slash"></i>
                        <i id="add-a-task" title="Add a Task" class="add-button fa-solid fa-plus"></i></h2>
                    <ul id="task-list-ul">
                    </ul>
                </div>

            </div>
        </div>

        <div id="log-div">

            <div id="project-space">
                <div id="project-content">
                    <h3 id="project-name"></h3>
                    <p id="hours-logged" style="margin:0; font-size:12pt;"></p>
                </div>
                <div id="all-time-components" style="width:60%;">
                    <div id="time-content" style="overflow-x: scroll;width:100%">
                        <div id="time-div-div" style="display: flex; width: auto; align-items: center;">
                            <div id="time-div">
                                <i id="add-a-time-block" title="Add a Time Block" class="add-button fa-solid fa-plus" style="color: var(--primary-color);"></i>
                            </div>
                        </div>
                    </div>
                    <div id="time-description-container">
                        <div id="time-description">
                            <h4 style="margin-bottom: 5px; margin-top: 18px;">
                                <span id="duration"></span>
                                hour<span id="duration-s"></span> on 
                                <span id="time-description-task-name"></span>
                                <i id="delete-time-block-button" title="Delete Time Block" class="fa-solid fa-trash"></i>
                            </h4>
                            <input id="time-description-text" autocomplete="off" placeholder="Add a description..."></input><br>
                            <input class='datetime-input' type="datetime-local" id="start-time-input"> to <input class='datetime-input' type="datetime-local" id="end-time-input"><i id="commit-time-block-button" title="Commit Changes" class="fa-solid fa-check"></i>
                        </div>
                    </div>
                </div>

        </div>
            <div class="log-space">
                <div id="log-content">
                    <div id="time">
                        <input type="checkbox" id="task-checkbox">
                        <label for="task-checkbox" id="task-name"></label>
                        
                        <h4 id="task-name"></h4>

                        <div id="clock-div">                        
                            <button id="toggle-button" class="button-common">
                            <i id="toggle-icon" class="fa-solid fa-hourglass-end"></i>
                          </button>
                          <p id="clock">00:00:00</p>
                        </div>

                    </div>
                    <div id="log-input" contenteditable="true" type="text" autocomplete="off" placeholder="Add a log..."></div>
                    <div id="pinned-logs-container">
                        <!--Pinned logs go here -->
                    </div>
                    <div id="log-items-container">
                        <!-- Log items go here -->
                    </div>
                </div>
            </div>
        </div>
        <div id="side-div">
            <div id="logout-div">
                <h2>Account</h2>
                <button class="logout-button" id="logout-button"><i class="fa-solid fa-right-from-bracket"></i></button>
            </div>
            <div id="export-div">
                <h2>Export</h2>
                <button class="export-button" id="project-csv">Projects</button>
                <button class="export-button" id="task-csv">Tasks</button>
                <button class="export-button" id="log-csv">Time</button>
                <button class="export-button" id="time-csv">Days</button>
            </div>
        </div>
    </div>
<style>
    :root {
        --primary-color: {{primary_color}};
    }
</style>
<script>
    var globalUserId = {{user_id}};
    var darkmode = {{ darkmode|lower }};

    // Admin options
    if (globalUserId !== 0) {
        const usersExport = document.getElementById("users-csv");
        const dropdownMenus = document.querySelectorAll('#export-button:hover + .dropdown-menu, .dropdown-menu:hover');

        dropdownMenus.forEach(menu => {
            menu.style.height = '160px';
        });
    }

    function createIconCanvas(color, size, padding) {
        let canvas = document.createElement('canvas');
        canvas.width = size;
        canvas.height = size;
        let ctx = canvas.getContext('2d');

        let radius = (size / 2) - padding;
        ctx.beginPath();
        ctx.arc(size / 2, size / 2, radius, -0.5 * Math.PI, -2 * Math.PI, true);
        ctx.lineTo(size / 2, size / 2);
        ctx.fillStyle = color;
        ctx.fill();
        return canvas;
    }

    function updateLinkInHead(relValue, href) {
        let link = document.querySelector(`link[rel~='${relValue}']`);
        if (!link) {
            link = document.createElement('link');
            link.rel = relValue;
            document.getElementsByTagName('head')[0].appendChild(link);
        }
        link.href = href;
    }

    function updateFavicon(color) {
        let faviconCanvas = createIconCanvas(color, 32, 0);
        updateLinkInHead('icon', faviconCanvas.toDataURL('image/x-icon'));

        let appleIconCanvas = createIconCanvas(color, 180, 40); 
        updateLinkInHead('apple-touch-icon', appleIconCanvas.toDataURL());
    }
    updateFavicon('{{ primary_color }}');
</script>
<script src="static/client.js"></script>
</body>
</html>